/* We do mobile-first with progressive enhancement as opposed to graceful degradation */
@import url("typography.css");
@import url("layout.css");
/*
Content of the hero, sections and CTA should NOT be wider than 1312px (except for images on the CTA and bg colors)
pad the remainder, design with 1312px as upper limit
*/

:root {
  --elipse-color: #24404f;
  --hero-color: #0b1113;
  --cta-color: #495664;
}

/* the ball thing */
.elipse {
  background: var(--elipse-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/* sections */
#hero {
  background-color: var(--hero-color);
}

#cta {
  background-color: var(--cta-color);
}
