body {
  box-sizing: border-box;
  text-align: center;
}

.grid-container {
    display: grid;
}

.top-bar-header {
  text-align: left;
  /*
  position: absolute;
  width: 77px;
  height: 36px;
  left: 18px;
  top: 18px;
  */
}
