body {
  box-sizing: border-box;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  align-content: center;
  align-items: center;
}

.top-bar-header {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: left;
  height: 36px;
  margin: 0%;
  padding: 18px;
}

.top-bar-elipse {
  grid-column-start: 3;
  grid-column-end: 3;
  position: absolute;
  right: 18px;
}

/* Using the 12 col layout convention */
.grid-container {
  display: grid;
  grid: auto-flow auto / repeat(12, auto);
}

.hero-text-container {
  grid-column: 1 / 13;
  padding: 4px;
  text-align: left;
}

.hero-image-container {
  grid-column: 1 / 13;
}

@media screen and (min-width: 376px) {
  .hero-text-container {
    grid-column: span 6;
    padding: 4px;
  }
  
  .hero-image-container {
    grid-column: span 6;
  }
}

/* TODO: Fine tune the layout for this image later, it was driving me nuts to constantly scroll around it */
.hero-image {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 20rem;
  height: 20rem;
  margin-top: 4rem;
}

/* ad copy section (Why us)*/
.adcopy-header {
  grid-column: span 12;
}

.adcopy-article {
  grid-column: span 12;
}

.adcopy-article > * {
  grid-column: span 12;
}

@media screen and (min-width: 376px) {
  .adcopy-article {
    grid-column: span 4;
  }
}

.elipse {
  grid-column: span 12;
  justify-self: center;
  margin-top: 5rem;
}

.hide {
  visibility: hidden;
}

/* call to action section */
.cta-text-container {
  grid-column: span 12;
  padding: 50px;
}

.cta-image-container {
  grid-column: span 12;
  padding-top: 2rem;
  align-self: center;
}

.cta-image {
  width: 100%;
  height: 55%;
}

@media screen and (min-width: 376px) {
  .cta-text-container {
    grid-column: span 3;
    padding: 50px;
    text-align: left;
  }
  
  .cta-image-container {
    grid-column: span 9;
  }

  .cta-image {
    width: 45rem;
    height: 55%;
  }
}
